* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e50814;
  --black: #141414;
  --font: #aaa;
  --fontWhite: #fff;
}

body {
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontWhite);
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--font);
  font-family: "Arial Black";
  font-size: 2.5rem;
}

header .logo:hover {
  color: var(--fontWhite);
}

header nav a {
  text-decoration: none;
  color: var(--font);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--fontWhite);
}

/*Logo - Filme*/

.serie-principal .titulo {
  font-size: 5rem;
  margin-top: 20%;
}

.serie-principal {
  font-size: 1.4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("./img/Cosmos.jpg");
  height: 40rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.serie-principal .descricao {
  margin-bottom: 5rem;
}

/*Main*/

main .button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--fontWhite);
  padding: 1.5rem 4rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.3s ease all;
}

main .button:hover {
  background: var(--fontWhite);
  color: var(--black);
  font-weight: 600;
}

.button i {
  margin-right: 1rem;
}

.serie-principal .container {
  width: 70%;
}

/*Filmes*/

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 0.4rem;
}

.carrosel-filmes {
  margin-top: 0.1rem;
}
